body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border-spacing: 0; 
     /* elimina los espacios entre las celdas*/
    border-collapse: collapse;  
    /* colocar un borde fino  entre las celdas*/
    width: 800px;
    margin: 100px auto;
}
td , th {
    border: solid 1px  #ccc ;
    padding: 5px;
}
/* filas par even */
tr:nth-child(even){
    background-color: #ddd;
}
td:nth-child(n + 3),
th:nth-child(n + 3) {
    text-align: center;
} 
tbody tr:hover {
    background-color: rgb(160, 222,225 );
}

thead {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}